/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 nov 2025, 16:14:15
    Author     : Clase
*/

/* Contenedor general para controlar el desbordamiento */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabla{
    width: 100%;
    overflow-x: auto;
    padding: 10px 0;
}

.tabla table{
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.tabla th, .tabla td{
    border: 1px solid #CCCCCC;
    padding: 10px;
    word-break: break-word;
    font-size: 16px;
}


.tabla td:nth-child(n+6){
    max-width: 40px;
}

.nombre{
    background-color: lightblue;
    font-weight: bold;
}

.valor{
    background-color: antiquewhite;
}

.titulo{
    background-color: lightblue;
    font-weight: bold;
}

.baja{
    background-color: lightgray
}

button.baja{
    background-color: red;
}

button.alta{
    background-color: green;
}

.activo{
    color: green;
}

.anchoFijo{
    width: 10%;
    text-align: center;
}

.volumen{
    width: 10%;
    text-align: right;
}

.iconosDpto{
    min-width: 50px;
    max-width: 100%;
}

.iconosDpto form button{
    max-width: 10px;
    background-color: white;
}


.iconosDpto form button i{
    display: block;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px){
    .tabla table{
        font-size: 10px;
        width: 100%;
        min-width: 800px;
    }
    
    .tabla th, .tabla td{
        padding: 8px;
    }
}