/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 nov 2025, 16:24:49
    Author     : Clase
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    width: 100%;
    max-width: 800px;
    min-width: 200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f7f5f5;
    align-items: center;
}

.formulario form{
    max-width: 100%;
    text-align: left;
}

.formulario h1{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

#nombre, #pass, #desc, #passR, #codDepartamento, #respS, #passA, #passN, #passNR{
    max-width: 90%;
    width: 400px;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

button{
    max-width: 100%;
    margin-top: 20px;
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.archivoImportar{
    width: 100%;
    max-width: 800px;
    min-width: 200px;
    margin: 0 auto;
    padding: 10px;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

.paginacion{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    & #paginacionTabla{
        display: flex;
        align-items: center;
        gap: 10px; 
    }
}

.fin{
    background-color: lightgray;
}
.lectura{
    background-color: lightgray;
}

.obligatorio{
    background-color: #FCF8CC;
}

.cPassword{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
    & .lectura{
        max-width: 50%;
    }
    
    & #cambiarC{
        max-width: 50%;
    }
}

.botones{
    justify-items: center;
}

@media(max-width: 480px){
    .formulario{
        padding: 5px;
        font-size: 14px;
    }
    
    #nombre, #pass, #desc, #passR, #codDepartamento, #respS, #passA, #passN, #passNR{
        width: 100px;
        max-width: 90%;
    }
}