/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 nov 2025, 16:14:15
    Author     : Clase
*/

/* Contenedor general para controlar el desbordamiento */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabla{
    width: 100%;
    overflow-x: auto;
    padding: 10px 0;
}

.tabla table{
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.tabla th, .tabla td{
    border: 1px solid #CCCCCC;
    padding: 10px;
    text-align: left;
    word-break: break-word;
}

.tabla td, .tabla tr{
    max-width: 75px;
}

.nombre{
    background-color: lightblue;
    font-weight: bold;
}

.valor{
    background-color: antiquewhite;
}

.titulo{
    background-color: lightgreen;
    font-weight: bold;
}

.baja{
    color: red;
    background-color: lightgray
}

.activo{
    color: green;
}

.iconosDpto form button{
    max-width: 40px;
    text-align: left;
}

i{
    display: block;
    font-size: 0.7rem;
    text-align: left;
}
@media(max-width: 800px){
    .tabla table{
        font-size: 10px;
        width: 100%;
        min-width: 800px;
    }
    
    .tabla th, .tabla td{
        padding: 8px;
    }
}