.apartados iframe{
    height: 100dvh;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.manu-paises{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* Ocultar los inputs radio de la vista */ 
input[type="radio"] {
    display: none;
}
.apartados img,
.apartados iframe{
    width: 100%;
    display: none;
    position: relative;
    top: 0;
    left: 0;
    scroll-margin-top: 200px;
    margin: 16px;
}

/* 1. Estilo para el Label seleccionado */
#btn1:checked ~ .menu label[for="btn1"],
#btn2:checked ~ .menu label[for="btn2"],
#btn3:checked ~ .menu label[for="btn3"],
#btn4:checked ~ .menu label[for="btn4"],
#btn5:checked ~ .menu label[for="btn5"],
#btn6:checked ~ .menu label[for="btn6"],
#btn7:checked ~ .menu label[for="btn7"],
#btn8:checked ~ .menu label[for="btn8"] {
    font-weight: bold;
}

#spain:checked ~ .menu-paises label[for="spain"],
#france:checked ~ .menu-paises label[for="france"],
#portugal:checked ~ .menu-paises label[for="portugal"]{
    font-weight: bold;
}

#radioAlta:checked ~ .menu label[for="radioAlta"],
#radioBaja:checked ~ .menu label[for="radioBaja"],
#radioTodos:checked ~ .menu label[for="radioTodos"]{
    font-weight: bold;
}
/* Mostramos el elemento correspondiente según el radio pulsado */
#btn1:checked ~ .apartados #vInicioPublico01,
#btn2:checked ~ .apartados #vInicioPublico02,
#btn3:checked ~ .apartados #vInicioPublico03,
#btn4:checked ~ .apartados #vInicioPublico04,
#btn5:checked ~ .apartados #vInicioPublico05,
#btn6:checked ~ .apartados #vInicioPublico06,
#btn7:checked ~ .apartados #vInicioPublico07,
#btn8:checked ~ .apartados #vInicioPublico08 {
    display: block;
}
#vInicioPublico06{
    width: 500px;
    height: 500px;
    margin: 50px auto;
}